@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* Existing styles */
.navbar {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 5vh;
  background-color: #fff;
  padding-top: 2vh;
  position: fixed;
  top: 0; /* Make sure the navbar starts at the top of the viewport */
  left: 0;
  right: 0;
  transition: top 0.3s; /* Add transition for smooth animation */
  z-index: 1000;
}


.navbar-left {
  font-weight: 700;
  margin-left: 3%;
  width: 60%;
}

.navbar-toggle {
  display: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: 0px;
  margin-right: 3%;
}

.navbar-right {
  font-weight: 600;
  width: 20%;
  margin-right: 3%;
}

.navbar-right ul {
  display: flex;
  justify-content: space-between;
}

.navbar-right ul li {
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  position: relative; 
}

.navbar-right ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px; 
  left: 0;
  background-color: #000; 
  transition: width 0.3s ease-in-out;
}

.navbar-right ul li:hover::after {
  width: 100%; 
}
/* Mobile styles */
@media (max-width: 768px) {
  .navbar-left {
    width: auto;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-right {
    display: none;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 7vh;
    left: 0;
    right: 0;
    margin-right: 0;
    padding-top: 1vh;
  }

  .navbar-right.open {
    display: flex;
  }

  .navbar-right ul {
    flex-direction: column;
    align-items: center;
    padding: 10px 0; 
  }

  .navbar-right ul li {
    margin: 20px 0;
  }
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: calc(5vh + 2vh); 
}

.line {
  margin-top: 20px;
  width: 10%;
  background-color: #d6d6d6;
  height: 2px;
  border-radius: 100px;
}

.home {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 9%;
}

.home-left {
  width: 60%;
}

.home-right {
  width: 30%;
}

.title {
  font-weight: 700;
  font-size: 40px;
}

.description {
  font-weight: 500;
  font-size: 14px;
  margin-top: 4%;
  color: #595959;
}

.profile {
  width: 280px;
  border-radius: 100%;
  float: right;
  transition: transform 0.5s ease-in-out; 
}

.profile:hover {
  transform: scale(1.05); 
}


.quick-access {
  display: flex;
  margin-top: 5%;
}

.quick-access a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}

.quick-access a:hover {
  color: #0062ff;
}

.github {
  margin-left: 10px;
}

.tools {
  display: flex;
  justify-content: space-between;
  width: 26%;
  margin-top: 15px;
  margin-left: 20%;
}

.tools img {
  width: 30px;
}

.tools-title {
  font-weight: 500;
  font-size: 12px;
  margin-top: 0px;
  margin-left: 20%;
}

.about-container {
  width: 60%;
  margin-left: 20%;
  margin-top: 12%;
}

.about-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.about-description {
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.projects-container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 12%;
  margin-bottom: 6%;
}

.projects-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.082) 0px 6px 24px 0px, rgba(0, 0, 0, 0.199) 0px 0px 0px 1px;
}

.project-image {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project-card:hover .project-image {
  transform: scale(1.1);
}

.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.projects-title-2, .projects-desc {
  font-weight: 700;
  font-size: 18px;
  width: 90%;
  margin: 0px 5% 10px 5%;
  position: absolute; 
  top: 30px; 
}

.projects-desc {
  font-weight: 600;
  font-size: 14px;
  top: 70px; 
}


.project-button, .project-button-invalid {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  padding: 5px 15px;
  margin: 10px;
  display: inline-block;
  transition: all 0.2s;
  text-decoration: none;
  color: #fff;
  position: absolute; 
  bottom: 10px;      
  right: 10px;     
}


.project-button {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.project-button:hover {
  background-color: #000;
  color: #fff;
}

.project-button-invalid {
  color: #949494;
  background-color: #fff;
  border: 1px solid #949494;
}

/* .project-button-invalid:hover {
  background-color: #949494;
  color: #fff;
} */


@media (max-width: 768px) {

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
  }
  
  .project-card {
    max-width: 100%; 
    box-sizing: border-box; 
  }

  .projects-cont {
    flex-direction: column;
    margin-top: 40px;
  }

  .projects-left,
  .projects-right {
    width: 100%;
  }

  .projects-title-2 {
    top: 20px;
    font-size: 14px;
  }

  .projects-desc {
    top: 60px;
    font-size: 10px;
  }

  .project-card {
    width: 100%;
  }
}


.faq {
  background-color: #d8d8d8;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 8%;
}

.faq-title {
  font-size: 30px;
  font-weight: 700;
  color: #393939;
}

.faq-container {
  width: 60%;
  margin-left: 20%;
}

.faq-list-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 6%;
}

.faq-1 {
  width: 30%;
}

.faq-1-title {
  font-size: 18px;
  font-weight: 600;
}

.faq-1-desc {
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
  color: #6f6f6f;
}

.faq-2 {
  width: 30%;
}

.faq-2-title {
  font-size: 18px;
  font-weight: 600;
}

.faq-2-desc {
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
  color: #6f6f6f;
}

.faq-3 {
  width: 30%;
}

.faq-3-title {
  font-size: 18px;
  font-weight: 600;
}

.faq-3-desc {
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
  color: #6f6f6f;
}

.contact {
  width: 100%;
  height: fit-content;
  padding: 5% 0%;
  background-color: #000;
  border-radius: 30px 30px 0px 0px;
  margin-top: -3%;
}

.contact center .contact-title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.contact-info {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 20px;
}

.socmed {
  margin: 50px 0px 0px 0px;
}

.socmed a {
  color: #FFF;
}

/* Mobile styles */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .home-left {
    width: 100%;
    text-align: center;
  }

  .title {
    margin-top: 20px;
    font-size: 20px;
  }
  
  .description {
    font-size: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .quick-access {
    width: 20%;
    margin: 0px 0px 0px 44%;
  }

  .quick-access a {
    margin: 10px 0; 
  }

  .profile {
    width: 150px;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .tools-title {
    font-size: 10px;
    margin: 30px 46% 0px 46%;
  }

  .tools {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
  }

  .tools img {
    width: 20px;
  }

  .home-right img {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 20px;
  }

  .contact center .contact-title {
    font-size: 16px;
    margin: 10px 0px;
  }

  .contact-info {
    font-size: 12px;
  }

  .project-button-invalid {
    font-size: 12px;
  }

  .about-title,
  .projects-title {
    font-size: 20px;
  }

  .faq-title {
    font-size: 24px;
    text-align: center;
  }

  .about-description,
  .projects-desc,
  .faq-1-desc,
  .faq-2-desc,
  .faq-3-desc {
    font-size: 10px;
  }

  .faq-1-title,
  .faq-2-title,
  .faq-3-title {
    font-size: 14px;
  }

  .about-container,
  .faq-container {
    width: 80%; 
    margin: 0 auto; 
    margin-top: 60px;
  }

  .projects-container {
    width: 80%; 
    margin: 0 auto; 
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .navbar-left,
  .navbar-right {
    width: 100%;
    text-align: center;
  }

  .navbar-right ul {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .navbar-right ul li {
    margin: 10px 0;
  }

  .navbar-toggle {
    display: block;
    margin-top: 0;
    margin-right: 3%;
  }
}
