@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  .navbar {
    justify-content: space-between;
    display: flex;
    height: 5vh;
    background-color: #fff;
    padding-top: 2vh;
  }
  
  .navbar-left {
    width: 70%;
    font-weight: 700;
    margin-left: 3%;
  }

  .navbar-right {
    width: 18%;
    font-weight: 600;
    margin-right: 3%;
  }

  .navbar-right ul {
    display: flex;
    justify-content: space-between;
  }

  .navbar-right ul li {
    text-decoration: none;
    list-style: none;
    font-size: 14px;
  }